<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div id="app">
        <div class="container">
            <input v-model="newTodo" type="text" @keyup.enter="AddTodo" placeholder="Aggiungi qualcosa!">
            <button @click="AddTodo">AGGIUNGI</button>
            <div v-show="inputError" class="danger">Deve contenere almeno 5 lettere!</div>
            <div class="list-container">
                <ul>
                    <li v-if="todos.length == 0">Non hai niente da fare!</li>
                    <li v-for="(todo, i) in todos"
                    @click="Done(i)"
                    :class="{'done': todo.done}">
                    {{todo.text}} 
                    <button @click="RemoveToDo">X</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>





    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js"></script>
</body>
</html>