*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}


body{
    background-color: rgb(24, 46, 76);
}
h1{
    font-size: 2em;
    margin-bottom: 2em;
    color: white;
}


input{
    padding: .5em;
    border-radius: 20px;
    border: 2px solid white;
}
.add{
    margin-left: 2em;
    padding: .5em;
    border-radius: 20px;
    border: 2px solid white;
}


.add:active{
    color: green;
    border: 2px solid green;
}

ul{
    list-style: none;
}

li{
    margin-top: 1em;
    cursor: pointer;
    color: white;
    margin-bottom: 1em;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: space-between;
}


button{
    cursor: pointer;
}
.container{
    margin: auto;
    padding: 2em;
}


.notdone{
text-decoration: none;

}

.done{
    text-decoration: line-through;
}



.danger{
    color: red;
    font-size: 24px;
    margin-top: 1em;
}



.remove{
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 30px;
    color: white;
    background-color: rgb(24, 46, 76);
    border: 2px solid white;
    margin-bottom: 1em;
}


.remove:active{
    color: red;
    border: 2px solid red;
}